.git
.gitignore
.idea
.vscode
.cache
.clangd
cmake-build-debug/
*.dSYM/
*.o
*.a
cubyte
third_party/ckociemba/bin/
tests/
docs/
readme_assets/
compile_commands.json
regalloc-registers.bin
regalloc-registers.bin.bak
